{% comment %}
  Renders counter

  Accepts:
  - count: {Int} starting number

  Usage:
  {% render 'counter', count: section.settings.number %}
{% endcomment %}
<script type="module">
  import { createApp, ref } from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';

  createApp({
    setup() {
      const count = ref({{ count | default: 0 }});

      return {
        count
      };
    },
    delimiters: ['${', '}'],
  }).mount('#counter');
</script>

<div id="counter">
  This is the count: ${count}
  <button @click="count++">Count</button>
</div>
